{{ template "header.html" .}}

<h1>TamaGo</h1>

<a href="/">Back to the homepage</a><br/><br/>

<div>

    Tags : <input id="tags" type="text"/><br/><br/>
    <textarea id="content" cols="120" rows="20"></textarea><br/>

    <input type="submit" value="save" onclick="saveNote()">
</div>


<script src="/js/simple-jsonrpc.js"></script>
<script>
    //configure
    var jrpc = new simple_jsonrpc();
    var socket = new WebSocket("ws://localhost:7000/ws");


    socket.onmessage = function(event) {
        jrpc.messageHandler(event.data);
    };

    jrpc.toStream = function(_msg){
        socket.send(_msg);
    };

    socket.onerror = function(error) {
        console.error("Error: " + error.message);
    };

    socket.onclose = function(event) {
        if (event.wasClean) {
            console.info('Connection close was clean');
        } else {
            console.error('Connection suddenly close');
        }
        console.info('close code : ' + event.code + ' reason: ' + event.reason);
    };

    function saveNote() {
        var content = document.getElementById("content");
        var tags = document.getElementById("tags");
        console.log(content.value);

        var atags = tags.value.split(",").map(Function.prototype.call, String.prototype.trim);

        var final_tags = [];
        for (var i=0; i<atags.length; i++) {
            final_tags.push({"label": atags[i]});
        }


        jrpc.call('NoteManager.AddNote',[{"content":content.value, "tags":final_tags}]).then(function (result) {
            console.log("id of the new note: ", result);
            alert("Note saved!")
            window.location.replace("/");
        });

    }
</script>

{{ template "footer.html" .}}